body { 
	margin: 0;
}
canvas { 
	width: 100%; 
	height: 100%;
}
#title {
	position: fixed;
	width: 7vw;
	height: auto;
	left: 5px;
	top: 5px;
}
#searchBar {
	box-sizing:border-box;
	font-family: 'Rubik', sans-serif;
	height: 6vh;
	font-size: 4vh;
	width: 100%;
}
#inputWrapper{
	padding: 0;
}
.dropElement {
	font-family: 'Rubik', sans-serif;
	list-style-type: none;
	font-size: 4vh;
	color: white;
}
li {
	border: solid;
	border-width: thin;
	border-bottom: none;
	background-color: black;
	border-color: white;
}
li:last-child {
	border: solid;
	border-width: thin;
	background-color: black;
	border-color: white;
}
li:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}
#searchBarDiv {
	position: fixed;
	right: 5px;
	top: 5px;
	width: 35vw;
	height: 40vh;
}
